/*
    added button for video
    centered video in the webpage when visible
    added more documentation and comments to code
    resized images
*/

body {
    display: grid;
    background-color: #edf2f4;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    color: #2b2d42;
    margin: 0;
    padding: 0;
}

/* page header container */
header {
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
    display: flex;
    height: 120%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2d42;
    color: #edf2f4;
}

/* container for the image in the header and page title */
#combined_logo {
    display: flex;
    align-items: center;
}

/* page title */
h1 {
    padding-left: 10px;
}

/* logo image in the webpage header */
#logo {
    height: 50px;
}

/* nav menu on the header */
menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 800px;
}

menu > li {
    padding: 5px;
}

/* container for the buttons of he nav bar */
button {
    height: 25px;
    width: 150px;
    color:#edf2f4;
    background-color: #f7941e;
    border-style: none;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: #edf2f4;
    color: #f7941e;
}

button:active {
    background-color: rgb(197, 197, 197);
}

/* dark mode toggle switch */
.label {
    background-color: #f7941e;
    display: flex;
    border-radius: 5px;
    position: relative;
    height: 25px;
    width: 50px;
}

.ball {
    background-color: #2b2d42;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
}

/* hides the content that is not being displayed */
.hidden {
    display: none;
}

/* buffer to the left of the content */
#left_buffer {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
}

/* container for the content in the home tab */
#home-content {
    display: flex;
}

/* buffer to the right of the content  */
#right_buffer {
    grid-column: 8 / 8;
    grid-row: 2/ span 1;
}

/* conatiner for the content */
#content {
    grid-column: 2/ span 6;
    grid-row: 2/ span 1;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

a {
    color: #2b2d42;
}

/* image containers */
figure {
    float: right;
    width: 50%;
}

/* image in the utah climbing tab */
#utah_img {
    object-position: 0px 70%;
}

/* image in the contact tab */
#me_pic {
    object-position: 0px 25%;
}

/* class for pictures contained with text */
.intext_pic {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

p {
    text-align: justify;
    font-size: 15pt;
    width: 100%;
}

ul {
    font-size: 15pt;
    list-style-type: none;
}

/* tablet view trigger */
@media only screen and (max-width: 768px) {
    body{
        grid-template-rows: 150px auto;
    }
    menu {
        width: 400px;
    }
    #content {
        display: flex;
        align-items: left;
        padding-left: 10px;
        padding-right: 10px;
        grid-column: 1/ span 8;
        grid-row: 2/ span 1;
    }
    p {
        text-align: left;
    }
    figure {
        float: none;
        width: auto;
    }
    header {
        flex-direction: column;
        justify-content: center;
    }
    iframe {
        width: 100%;
        height: auto;
    }
}